// Возможно, лучше использовать css-переменные, а не scss. Тогда, к примеру, в будущем можно очень легко на всем сайте поменять цвет, который применяется во множестве мест. Пример использования:
// :root {
// 	--main-color: #564c4c;
// }
// .block {
// color: var(--main-color);
// }

// $mainColor - поменять на самый частый цвет в макете

:root {
	--red-color: #d52027;
	--blue-dark-color: #141024;
	--white-color: #fff;
	--grey-color: rgba(20, 16, 36, 0.7);
}

// $mainColor: #fff;

// $maxWidth - размер max-width для __container. Поменять на тот, что по макету

$maxWidth: 1190px;
$minWidth: 320px;

//--------------------------//

$deskMiddle: 1399.98px;
$desk: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileMiddle: 575.98px;
$mobileSmall: 478.98px;


